# Using relative is mandated by py-cov-action/python-coverage-comment-action@v3,
# see https://github.com/py-cov-action/python-coverage-comment-action?tab=readme-ov-file#why-do-we-need-relative_files--true-
[run]
relative_files = true
