[tool.poetry]
name = "tfwrapper"
version = "7.13.2"
description = "`tfwrapper` is a python wrapper for [Terraform](https://www.terraform.io/) which aims to simplify Terraform usage and enforce best practices"
authors = ["Your Name <you@example.com>"]
license = "Mozilla Public License Version 2.0"

[tool.poetry.dependencies]
python = ">=3.6.2,<4.0"
CacheControl = "^0.12.6"
colorlog = "^5.0.1"
lockfile = "^0.12.2"
natsort = "^7.1.1"
schema = "^0.7.4"
termcolor = "^1.1.0"
boto3 = "^1.17.94"
Jinja2 = "^3.0.1"
PyYAML = "^5.4.1"
requests = "^2.25.1"
azure-common = {version = "^1.1.27", extras = ["azure"]}
azure-mgmt-storage = {version = "^18.0.0", extras = ["azure"]}
azure-cli = {version = "^2.26.1", extras = ["azure"]}

[tool.poetry.dev-dependencies]
black = "^21.7b0"
md-toc = "^8.0.0"
flake8 = "^3.9.2"
flake8-docstrings = "^1.6.0"
mock = "^4.0.3"
#pook = "^1.0.1"
# Use commit of "fix(urllib3): interceptor is never really disabled" https://github.com/h2non/pook/pull/68
# until new release
pook = {git = "https://github.com/h2non/pook", rev = "7e45a3fa8804a59d9bbe9e8e49e7344c40feae07"}
pytest = "^6.2.4"
requests-mock = "^1.9.3"

[tool.poetry.scripts]
tfwrapper = 'tfwrapper:main'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
# Make sure to match flake8's max-line-length in tox.ini.
line-length = 130 # black's default
target-version = ['py36', 'py37', 'py38', 'py39']
exclude = '''
/(
  \.git
  | \.pytest_cache
  | \.tox
  | \.venv
)/
'''
