[tool.poetry]
name = "claranet-tfwrapper"
version = "12.1.0"
description = "Claranet's `tfwrapper` is a wrapper for [Terraform](https://www.terraform.io/) implemented in python which aims to simplify Terraform usage and enforce best practices"
authors = []
license = "Mozilla Public License Version 2.0"
readme = "README.md"
homepage = "https://github.com/claranet/terraform-wrapper"
keywords = ["terraform", "wrapper"]

# For reference, see https://pypi.org/pypi?%3Aaction=list_classifiers
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: Information Technology",
    "Intended Audience :: System Administrators",
    "License :: OSI Approved :: Mozilla Public License 2.0 (MPL 2.0)",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Topic :: System :: Systems Administration",
    "Topic :: Utilities",
]

[tool.poetry.dependencies]
python = ">=3.7,<4.0"
argcomplete = "<3.0"
boto3 = "^1.17.94"
CacheControl = "^0.12.6"
colorlog = ">=5.0.1,<7.0.0"
Jinja2 = "^3.0.1"
lockfile = "^0.12.2"
natsort = ">=7.1.1,<9.0.0"
packaging = "^21.0"
PyYAML = ">=5.4.1,<7.0.0"
requests = "^2.25.1"
schema = "^0.7.4"
termcolor = ">=1.1,<3.0"

[tool.poetry.dev-dependencies]
black = "^22.10"
coverage = "^6.5"
flake8 = "^5.0.4"
flake8-docstrings = "^1.6.0"
md-toc = "^8.1.5"
mock = "^4.0.3"
pook = "^1.0.2"
pytest = "^7.2.0"
requests-mock = "^1.10.0"
toml = "^0.10.2"

[tool.poetry.scripts]
tfwrapper = 'claranet_tfwrapper:main'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
# Make sure to match flake8's max-line-length in tox.ini.
line-length = 130 # black's default
target-version = ['py37', 'py38', 'py39', 'py310']
exclude = '''
/(
  \.git
  | \.pytest_cache
  | \.tox
  | \.venv
)/
'''
