name: Tests

env:
  POETRY_VERSION: 1.1.8
  TOX_VERSION: 3.24.3

on: [push, pull_request]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python_version: "3.9"

      - name: Install poetry and tox
        shell: bash
        run: |
          pip install poetry==${POETRY_VERSION} tox==${TOX_VERSION}

      - name: Run tox
        shell: bash
        run: tox -e lint

  tests:
    name: Test with Python ${{ matrix.python_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: [3.6, 3.7, 3.8, 3.9]
      fail-fast: false
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python_version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python_version }}

      - name: Install poetry and tox
        shell: bash
        run: |
          pip install poetry==${POETRY_VERSION} tox==${TOX_VERSION}

      - name: Run tox
        shell: bash
        run: |
          # Using relative is mandated by ewjoachim/python-coverage-comment-action@v2
          printf "[run]\nrelative_files = true" > .coveragerc

          tox -e py
        env:
          COVERAGE_FILE: ".coverage.${{ matrix.python_version }}"

      - name: Store coverage file
        uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: .coverage.${{ matrix.python_version }}

  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - uses: actions/checkout@v2

      - uses: actions/download-artifact@v2
        id: download
        with:
          name: "coverage"

      - name: Coverage comment
        id: coverage_comment
        uses: ewjoachim/python-coverage-comment-action@v2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MERGE_COVERAGE_FILES: true

      - name: Store Pull Request comment to be posted
        uses: actions/upload-artifact@v3
        if: steps.coverage_comment.outputs.COMMENT_FILE_WRITTEN == 'true'
        with:
          name: python-coverage-comment-action
          path: python-coverage-comment-action.txt
