name: Release

env:
  POETRY_VERSION: "2.1.1"
  PYTHON_VERSION: "3.13"

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  Release:
    environment: release
    runs-on: ubuntu-latest
    permissions:
      # Gives the action the necessary permissions for creating releases
      contents: write
      # Gives the action the necessary permissions to request the OIDC JWT ID token needed to authenticate against PyPI
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get tag
        id: tag
        run: echo "tag=${GITHUB_REF#refs/tags/}" >> "$GITHUB_OUTPUT"

      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5.5.0
        with:
          python-version: "${{ env.PYTHON_VERSION }}"

      - name: Install poetry
        shell: bash
        run: |
          pip install poetry==${POETRY_VERSION}

      - name: Build project for distribution
        run: poetry build

      - name: Check Version
        id: check-version
        run: |
          [[ "$(poetry version --short)" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]] \
            || echo "prerelease=true" >> "$GITHUB_OUTPUT"

      - name: Create GitHub release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "dist/*"
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: false
          prerelease: ${{ steps.check-version.outputs.prerelease == 'true' }}

      - name: Publish release distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
